.mailing {
  margin-bottom: 50px;
  background: url(../../img/feedback-background-image@1x.jpg);
  background-size: cover;
  padding: 40px 0;

  @media(min-resolution: 2dppx) {
    background: url(../../img/feedback-background-image@2x.jpg);
  }

  @media(min-width: $desktop-width) {
    margin-bottom: 100px;
    padding: 55px 0;
  }
}

.mailing__form {
  color: $standart-white;
}

.mailing__input-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.mailing__input {
  font-weight: 500;
  font-size: 16px;
  line-height: 170%;
  border: none;
  padding: 13px 13px;
  margin-bottom: 10px;

  @media(min-width: $tablet-width) {
    max-width: 500px;
    flex-grow: 1;
    padding: 18px 30px;
  }
}