//Colors
$standart-black: #000;
$standart-white: #FFF;
$dark-blue: #023957;
$grey-blue: #056088;
$light-blue: #09A7CA;
$blue-gradient: linear-gradient(1.17deg, #023957 -19.65%, #056088 93.67%);
$light-grey: rgba(0, 0, 0, 0.4);

//Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1200px;